babel
black
flake8
flaky
isort
MarkupSafe
mypy
Pillow>=9.0.1  # for mouseinfo, pyscreeze as of CVE-2022-{22817,24303}
pip-tools>=6.5.0  # for jazzband/piptools#1558
PyAutoGUI
PyQt5==5.15.2  # Match version of system package on Bullseye
pytest
pytest-cov
pytest-mock
pytest-qt
pytest-random-order
pytest-vcr
pytest-xdist
semgrep
PyQt5.sip==12.8.1  # Match version of system package on Bullseye
toml
types-python-dateutil
types-setuptools
wlc
